* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.navbar-brand{
    color: #000;
}
.fa-bars{
    color: #fff;
}
.navbar{
    background-color: orange;
}
.nav-link{
    color: #000;
}
.nav-link.active {
    color: red !important;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: white;
    padding: 2rem;
    height: 38rem;
    position: relative;
}

.hero-text {
    width: 887px;
    height: 530px;
}

.hero-text h1 {
    font-size: 64px;
    margin-bottom: 1rem;
    position: absolute;
    top: 20%;
    left: 5%;
    color: #203089;
    
    
}

.hero-text p {
    font-size: 20px;
    font-weight: 350;
    margin-bottom: 2rem;
    position: absolute;
    top: 45%;
    left: 5%;
    
    color: #000;
}


.cta-buttons {
    display: flex;
    gap: 10px;
    margin-left: 17%;
    position: absolute;
    top: 65%;
    left: -11%;
    width: 344px;
    height: 56px;
    text-decoration: none;
}

.btn1 {
    background-color: #fff; 
    width: 175px;
    height: 56px;
    color: green;
    border-radius: 8px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 2px solid green; 
    text-decoration: none; 
    font-size: 16px;
    /* transition: background-color 0.3s, color 0.3s; */
}

.btn1:hover {
   
    color: green; 
    text-decoration: none;
}

.btn2 {
    background-color: #1443BD;
    width: 175px; 
    height: 56px;
    color: #fff; 
    border-radius: 8px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    border: 2px solid #1443BD; 
    text-decoration: none; 
    font-size: 16px; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn2:hover {
    background-color: #0f2a7e;
    color: #fff; 
    text-decoration: none;
}

.fa-solid{
    margin-left: 20px;
}
.hero-image img {
    max-width: 100%;
    width: 30rem;
    height: auto;
}

footer {
    position: fixed;
    bottom: 5px;
    right: 20px;
}

.contact-icon {
    background-color: #ff4c4c;
    padding: 15px;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
}

