*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    
    height: 100vh;
}
.navbar-brand{
    color: #000;
}
.fa-bars{
    color: #fff;
}
.navbar{
    background-color: orange;
}
.nav-link{
    color: #000;
}
.nav-link.active {
    color: red !important;
}
.hero {
    background-color: #fff;
    color: white;
    padding: 2rem;
    height: 38rem;
    position: relative;
}
  
.form-box {
    background-color: #7464BC;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 377px;
    height: 436px; 
    border-radius: 48px;
    display: block;
    margin: auto;
}
  
.form-control{
    margin: 34px 0;
}
.profileTitle{
    font-size: 25px;
    color: #fff;
    text-align: center;
}
input {
    width: 294px;
    height: 41px;
    padding: 12px; 
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #3d3d3d;
    color: #fff;
}
  
.save {
    display: block;
    margin-left: 30%;
    width: 116px;
    height: 41px;
    padding: 12px;
    background-color: #FF5349;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}
  

  

.exist-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    
}
  