* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.navbar-brand{
    color: #000;
}
.fa-bars{
    color: #fff;
}
.navbar{
    background-color: orange;
}
.nav-link{
    color: #000;
}
.nav-link.active {
    color: red !important;
}

.city{
    padding: 10px 30px;
}
.city h2{
    text-align: center;
    margin-top: 2rem;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    border: none;
    outline: none;
}
.card-title{
    text-align: center;
}
.btn{
    display: block;
    margin: auto;
    width: 30%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
footer {
    position: fixed;
    bottom: 5px;
    right: 20px;
}

.contact-icon {
    background-color: #ff4c4c;
    padding: 15px;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
}

